resources/_gen
content/docs/*.md
content/docs/*.md~
content/docs/appendix/
content/docs/development/
content/docs/introduction/
content/docs/production/
content/docs/team_building/
adoptingerlang.*
!adoptingerlang.org
output
.netlify
*.swo
*.swp
# Hugo default output directory
/public
